apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: "true"
objects:
  - apiVersion: v1
    data:
      appsettings.json: |-
        {
            "AllowedHosts": "*",
            "Constants": {
                "Version": "2.0.6.0",
                "SwaggerApiUrl": "/swagger/v1/swagger.json"
            },
            "Serilog": {
              "Using": [ "Serilog.Sinks.PostgreSQL.Configuration" ],
              "MinimumLevel": {
                "Default": "Information",
                "Override": {
                  "Microsoft": "Warning",
                  "System": "Warning"
                }
              },
              "WriteTo": [
                {
                  "Name": "Async",
                  "Args": {
                    "configure": [ { "Name": "Console" } ]
                  }
                },
                {
                  "Name": "PostgreSQL",
                  "Args": {
                    "connectionString": "SERILOG",
                    "tableName": "hmr_log",
                    "needAutoCreateTable": true
                  }
                }
              ],
              "Enrich": [ "FromLogContext", "WithMachineName" ]
            },
            "Columns": {
              "message": "RenderedMessageColumnWriter",
              "message_template": "MessageTemplateColumnWriter",
              "level": {
                "Name": "LevelColumnWriter",
                "Args": {
                  "renderAsText": false
                }
              },
              "timestamp": "TimestampColumnWriter",
              "exception": "ExceptionColumnWriter",
              "log_event": "LogEventSerializedColumnWriter",
              "props_test": {
                "Name": "PropertiesColumnWriter",
                "Args": { "dbType": "Json" }
              },
              "machine_name": {
                "Name": "SinglePropertyColumnWriter",
                "Args": {
                  "propertyName": "MachineName",
                  "writeMethod": "Raw"
                }
              }
            },
            "ConnectionStrings": {
                "HMCR": "Server=localhost;Database=HMR_DEV;Trusted_Connection=True;MultipleActiveResultSets=true",
                "SERILOG": "Host=localhost;Username=postgres;Password=postgres;Database=serilog;Port=9010"
            },
            "EnableSensitiveDataLogging": false,
            "Hangfire": {
                "EnableServer": true,
                "ReportJobIntervalInMinutes": 1,
                "EmailJobIntervalInMinutes": 30,
                "WorkerCount": 1
            },
            "CHRIS": {
                "MapUrl": "https://prd-maps.th.gov.bc.ca",
                "MapPath": "geoV05/wfs?",
                "OASUrl": "${OAS_URL}",
                "OASPath": "ogs-geoV06/wfs?",
                "ExportUrl": "${EXPORT_URL}",
                "WFSExportPath": "ogs-geoV06/ows?service=WFS&version=2.0.0&request=GetFeature",
                "KMLExportPath": "ogs-geoV06/wms/kml?mode=download&styles=HMR_GENERIC_FOR_KML"
            },
            "Timeouts": {
              "MapsAPI": ${GEOSERVER_TIMEOUT},
              "OasAPI": ${GEOSERVER_TIMEOUT},
              "ExportAPI": ${GEOSERVER_TIMEOUT},
              "InventoryAPI": ${GEOSERVER_TIMEOUT}
            },
            "JWT": {
                "Authority": "https://dev.loginproxy.gov.bc.ca/auth/realms/<realmid>",
                "Audience": "<app-id>"
            },
            "BCeID": {
                "Url": "${BCEID_SERVICE}",
                "OSID": "<BCeID:OSID>",
                "CacheLifespan": 600
            },
            "ServiceAccount": {
                "User": "<ServiceAccount:User>",
                "Password": "<ServiceAccount:Password>",
                "GUID": "<ServiceAccount:GUID>"
            },
            "Smtp": {
                "SenderName": "HMR NDR Email TRAN:EX",
                "SenderAddress": "DoNotReply_HMR@gov.bc.ca",
                "Thumbprint": "<Smtp:Thumbprint>",
                "Server": "apps.smtp.gov.bc.ca",
                "Port": 25,
                "SubmissionResult": "${SUBMISSION_URL}"
            },
            "DefaultThresholdSpLevel": {
              "Wildlife": "Level 2",
              "Rockfall": "Level 1"
            }
        }
    kind: ConfigMap
    metadata:
      name: api-appsettings-${ENV}
      labels:
        shared: "true"
parameters:
  - description: Deployment environment (dev, test, uat, prod)
    displayName: ENV
    name: ENV
    required: true
    value: "dev"
  - description: Submission results URL
    displayName: SUBMISSION_URL
    name: SUBMISSION_URL
    required: true
    value: "https://dev-hmcr.th.gov.bc.ca/workreporting?serviceArea={0}&showResult={1}"
  - description: BCeID webservice URL
    displayName: BCEID_SERVICE
    name: BCEID_SERVICE
    required: true
    value: "https://gws1.test.bceid.ca/webservices/client/v10/bceidservice.asmx"
  - description: GeoServer Report Export URL
    displayName: EXPORT_URL
    name: EXPORT_URL
    required: true
    value: "https://devoas1.apps.th.gov.bc.ca"
  - description: GeoServer CHRIS API URL
    displayName: OAS_URL
    name: OAS_URL
    required: true
    value: "https://devoas1.apps.th.gov.bc.ca"
  - description: Default timeout value for CHRIS/GeoServer API calls
    displayName: GEOSERVER_TIMEOUT
    name: GEOSERVER_TIMEOUT
    required: true
    value: "120"
