apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: transaction
labels:
  template: client-config
objects:
  - apiVersion: v1
    data:
      client: |-
        server {
            listen       8080 default_server;
            listen       [::]:8080 default_server;
            server_name  _;

            add_header Last-Modified $date_gmt;
            add_header Cache-Control "private, no-store, no-cache, must-revalidate";

            location / {
                root   /usr/share/nginx/html;
                index  index.html index.htm;

                try_files $uri /index.html =404;
            }
        }
    kind: ConfigMap
    metadata:
      name: client-configmap-${SUFFIX}
  - apiVersion: v1
    kind: ImageStream
    metadata:
      creationTimestamp: null
      labels:
        shared: true
      name: ${NAME}
    spec:
      lookupPolicy:
        local: false
  - apiVersion: v1
    kind: DeploymentConfig
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
    spec:
      replicas: 1
      selector:
        deploymentconfig: ${NAME}${SUFFIX}
      strategy:
        resources:
          requests:
            cpu: 250m
            memory: 32Mi
          limits:
            cpu: 250m
            memory: 64Mi
      template:
        metadata:
          creationTimestamp: null
          labels:
            deploymentconfig: ${NAME}${SUFFIX}
        spec:
          containers:
            - image: ${NAME}:${VERSION}
              name: client
              ports:
                - containerPort: 8080
                  protocol: TCP
              resources:
                requests:
                  cpu: 250m
                  memory: 32Mi
                limits:
                  cpu: 250m
                  memory: 64Mi
              env:
                - name: REACT_APP_SSO_HOST
                  valueFrom:
                    secretKeyRef:
                      name: sso-configs
                      key: CLIENT_SSO_HOST
                - name: REACT_APP_SSO_REALM
                  valueFrom:
                    secretKeyRef:
                      name: sso-configs
                      key: CLIENT_SSO_REALM
                - name: REACT_APP_SSO_CLIENT
                  valueFrom:
                    secretKeyRef:
                      name: sso-configs
                      key: CLIENT_SSO_CLIENTID
                - name: REACT_APP_API_HOST
                  value: ${HOST}
              volumeMounts:
                - name: ${NAME}${SUFFIX}-volume
                  mountPath: /etc/nginx/conf.d/
                  readOnly: true
          volumes:
            - name: ${NAME}${SUFFIX}-volume
              configMap:
                defaultMode: 420
                items:
                  - key: client
                    path: default.conf
                name: client-configmap-${SUFFIX}
      test: false
      triggers:
        - imageChangeParams:
            automatic: true
            containerNames:
              - client
            from:
              kind: ImageStreamTag
              name: ${NAME}:${VERSION}
          type: ImageChange
        - type: ConfigChange
  - apiVersion: v1
    kind: Service
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
    spec:
      ports:
        - name: web
          port: 8080
          protocol: TCP
          targetPort: 8080
      selector:
        deploymentconfig: ${NAME}${SUFFIX}
  - apiVersion: route.openshift.io/v1
    kind: Route
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
    spec:
      host: ${HOST}
      path: "/"
      port:
        targetPort: web
      tls:
        termination: edge
      to:
        kind: Service
        name: ${NAME}${SUFFIX}
        weight: 100
      wildcardPolicy: None
parameters:
  - description: A name used for all objects
    displayName: Name
    name: NAME
    required: true
    value: "client"
  - description: A name suffix used for all objects
    displayName: Suffix
    name: SUFFIX
    required: false
    value: "-dev"
  - description: A version used for the image tags
    displayName: version
    name: VERSION
    required: true
    value: "v1.0.0"
  - description: HOST
    displayName: HOST
    name: HOST
    required: true
    value: ""
  - description: SOURCE_REPOSITORY_URL
    displayName: SOURCE_REPOSITORY_URL
    name: SOURCE_REPOSITORY_URL
    required: false
    value: ""
  - description: SOURCE_REPOSITORY_REF
    displayName: SOURCE_REPOSITORY_REF
    name: SOURCE_REPOSITORY_REF
    required: false
    value: ""
