apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: transaction
labels:
  template: nginx-build
objects:
  - apiVersion: v1
    kind: ImageStream
    metadata:
      creationTimestamp: null
      labels:
        shared: true
      name: ${NAME}
    spec:
      lookupPolicy:
        local: false
  - apiVersion: v1
    kind: BuildConfig
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
    spec:
      completionDeadlineSeconds: 180
      nodeSelector: null
      output:
        to:
          kind: ImageStreamTag
          name: ${NAME}:${VERSION}
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
          cpu: 1
          memory: 2Gi
      postCommit: {}
      source:
        git:
          uri: ${SOURCE_REPOSITORY_URL}
          ref: ${SOURCE_REPOSITORY_REF}
        type: Git
        contextDir: nginx-alpine
      strategy:
        dockerStrategy:
          noCache: true
        type: Docker
parameters:
  - description: A name used for all objects
    displayName: Name
    name: NAME
    required: false
    value: ""
  - description: A name suffix used for all objects
    displayName: Suffix
    name: SUFFIX
    required: false
    value: ""
  - description: A version used for the image tags
    displayName: version
    name: VERSION
    required: false
    value: ""
  - description: SOURCE_REPOSITORY_URL
    displayName: SOURCE_REPOSITORY_URL
    name: SOURCE_REPOSITORY_URL
    required: false
    value: ""
  - description: SOURCE_REPOSITORY_REF
    displayName: SOURCE_REPOSITORY_REF
    name: SOURCE_REPOSITORY_REF
    required: false
    value: ""
