.form-control.multi-select {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: unset;
  max-height: 125px;
  overflow-y: auto;
  padding: 0.375rem 0.75rem;
}

.form-control.multi-select.is-invalid {
  border-color: #d93e45;
}

.multiselect-all {
  // margin-left: -0.75rem;
  // padding-left: 2.25rem;
  // margin-right: -0.75rem;
  // padding-right: 0.75rem;

  .custom-control-label {
    font-weight: bold;
  }
}

.custom-file {
  .custom-file-label {
    overflow: hidden;
  }
}

.form-control.fieldset{
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  height: auto;
  margin-bottom: 2.25rem;
}
.form-control.legend{
  border: none;
  width: auto;
}
.col.colmargin1{
  margin-top:1.25rem
}
.form-control.servicearea-large {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: unset;
  max-height: 174px;
  overflow-y: auto;
  padding: 0.375rem 0.75rem;
}
.form-control.servicearea-large.is-invalid {
  border-color: #d93e45;
}
.fieldset-tooltip [class$="inner"] {
  padding:0.5rem 0.75rem;
  background-color: #fff;
  border: 1px solid #737373;
  color:black;
  max-width: 400px;
  height: 160px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  word-spacing: normal;
  word-break: normal;
  white-space: normal;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  
  
}

.fieldset-tooltip> div.show {
  opacity: 1;
}
.fieldset-tooltip-body {
  overflow-y: auto;
  max-width: 380px;
  height: 140px;
}