@import './vendor/bootstrap-theme.scss';

@mixin main-nav-colors($background-color) {
  $nav-link-active-bg: lighten($background-color, 10%);

  padding: 0 1rem;
  border-bottom: 0;
  background-color: $background-color;
  font-size: 0.85rem;

  .nav-link {
    @media (min-width: 992px) {
      padding: 0.75rem 0.8em;
    }
  }

  .nav-link.active {
    padding: 0.75rem 0.8em;
    background-color: $nav-link-active-bg;
  }

  .btn-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
  }

  .navbar-nav {
    .dropdown {
      .dropdown-menu {
        background-color: $background-color;

        .dropdown-item {
          color: $navbar-dark-color;
          text-decoration: none;

          @include hover-focus() {
            text-decoration: underline;
            background-color: $nav-link-active-bg;
            color: $navbar-dark-hover-color;
          }
        }
      }
    }
  }
}

.main-nav {
  @include main-nav-colors(theme-color(secondary-nav));
}

.main-nav.dev,
.main-nav.unknown {
  @include main-nav-colors(#448a38);
}

.main-nav.tst {
  @include main-nav-colors(#f9a825);
}

.main-nav.uat {
  @include main-nav-colors(#744e91);
}

.navbar-brand {
  font-size: 2rem;
}
