@import './vendor/bootstrap-theme.scss';
@import './nav';
@import './materialcard';
@import './multidropdown';
@import './datepicker';
@import './forms';

body {
  background-color: #e2e1e0;
}

.util-bar {
  width: 100%;
  background-color: white;
}

.table-sm th,
.table-sm td {
  padding: 0.1rem 0.3rem;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.pagination {
  justify-content: flex-end;

  .page-link {
    min-width: 32.38px;
  }
}

.fa-color-primary {
  color: theme-color(primary);
}

.fa-color-success {
  color: theme-color(success);
}

.fa-color-danger {
  color: theme-color(danger);
}
