@import './vendor/bootstrap-theme.scss';
@import './nav';
@import './materialcard';
@import './multidropdown';
@import './datepicker';
@import './forms';

body {
  background-color: #e2e1e0;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.15rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.05rem;
}

h5 {
  font-size: 1.025rem;
}

h6 {
  font-size: 1rem;
}

.util-bar {
  width: 100%;
  background-color: white;
}

.table-sm th,
.table-sm td {
  padding: 0.1rem 0.3rem;
}

.text-overflow-hiden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-hiden:hover {
  overflow: visible;
  word-wrap: break-word;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.pagination {
  justify-content: flex-end;

  .page-link {
    min-width: 32.38px;
  }
}

.fa-color-primary {
  color: theme-color(primary);
}

.fa-color-success {
  color: theme-color(success);
}

.fa-color-danger {
  color: theme-color(danger);
}

.fa-color-warning {
  color: theme-color(warning);
}

.modal-dialog.modal-xl {
  max-width: 1140px;
}

ul.no-bullet {
  list-style-type: none;
  padding-inline-start: 0;
}

.Toastify__toast--info {
  background-color: theme-color(primary);
}

.Toastify__toast--success {
  background-color: theme-color(success);
}

.Toastify__toast--warning {
  background-color: theme-color(warning);
}

.Toastify__toast--error {
  background-color: theme-color(danger);
}

.popover {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
}

.ui-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  color: theme-color(primary-nav);
}

.thin-underline.progress {
  height: 4px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.code-block {
  background-color: #f6f8fa;
  padding: 16px;
  margin-bottom: 16px;

  pre {
    margin: 0;
  }
}
