@import './vendor/bootstrap-theme.scss';
@import './nav';
@import './materialcard';
@import './multidropdown';
@import './datepicker';

body {
  background-color: #e2e1e0;
}

.util-bar {
  width: 100%;
  background-color: white;
}

.table-sm th,
.table-sm td {
  padding: 0.1rem 0.3rem;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-group {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form-control.multi-select {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: unset;
  max-height: 125px;
  overflow-y: auto;
  padding: 0.375rem 0.75rem;
}

.form-control.multi-select.is-invalid {
  border-color: #d93e45;
}

.pagination {
  justify-content: flex-end;

  .page-link {
    min-width: 32.38px;
  }
}

.fa-color-primary {
  color: theme-color(primary);
}

.fa-color-success {
  color: theme-color(success);
}

.fa-color-danger {
  color: theme-color(danger);
}
